// libs
@import 'node_modules/nib/index'
@import 'node_modules/jeet/stylus/jeet/index'
@import 'node_modules/clrs/lib/clr'

global-reset()

body
  background-color white
  color gray
  font-family "Georgia", serif
  font-size 18px
  transition all 1s
  margin 50px 50px 0

a
  color navy
  text-decoration none
  border-bottom 1px solid navy
  SpecialFont()
  font-size 1.2em
  transition all 1s
  Accelerate()

  &:hover
    color teal
    border-color teal

p, span
  line-height 1.5
  
h1
  font-size 2.5em
  margin-bottom 30px
  
header
  col(2/6)
  position fixed
  
  nav ul
    li
      margin-bottom 10px
    margin-bottom 20px
      
  p
    margin-bottom 20px
    width 80%
    
  small
    font-size .6em
    
section
  col(4/6, offset: 2/6)
  
strong
  font-weight bold
  a
    border none

table
  font-size .8em
  width 100%
  border-collapse collapse
  color darken(silver, 60%)
  margin 50px 0

  thead
    border-bottom silver 2px solid

    th
      color black

  tbody
    tr
      border-bottom silver 1px solid
      &:hover
        background-color lighten(red, 80%)

  td, th
    padding 10px 0
    text-align center


section  
  blockquote
    color navy
    padding 20px
    border-left 15px solid teal
    font-style italic

    p
      margin-bottom 0

  p
    margin-bottom 30px

    img
      width 100%
    strong
      font-weight 600

  h2
    font-size 2em
    margin 0 0 20px

  h3
    font-size 1.3em
    margin 0 0 20px

  em
    font-style italic

  code
    font-family monospace
    font-size .8em
    line-height 1
    color white
    background-color red
    display inline-block
    padding 6px 8px 4px

  pre
    padding 10px
    margin 30px 0
    overflow scroll
    box-sizing border-box

    code
      background-color transparent
      box-sizing border-box
      width 70%
      margin 0 15%
      padding 0

  ol
    margin 0 25px 50px
    list-style-type decimal

    li
      margin-bottom 15px
      line-height 1.5

    ol
      list-style-type lower-alpha

    ul, ol
      padding 0
      margin 15px 0 0 30px

  ul
    margin 0 25px 50px
    list-style square

    li
      margin-bottom 15px
      line-height 1.5

    ul, ol
      padding 0
      margin 15px 0 0 30px
      

//  @import 'src/styl/syntax'

.post_title
  font-size 3em
  text-align center
  margin-bottom 0
  padding 20px 15%

.post_date
  padding-bottom 50px
  text-align center

.list_posts--item
  margin-bottom 15px

.list_posts--item__date
  font-size .8em
